/* styles for home.html */
form {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
  }
  
  label {
    font-size: 15px;
    margin-bottom: 10px;
  }
  
  input[type="text"] {
    padding: 15px;
    font-size: 25px;
    border: 2px solid #ccc;
    border-radius: 5px;
  }
  
  button[type="submit"] {
    padding: 10px;
    font-size: 18px;
    background-color: lightblue;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
  }
  
  /* styles for result.html */
  h1 {
    font-size: 40px;
    margin-top: 45px;
  }
  
  a {
    font-size: 20px;
    color: lightblue;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    border: 2px solid black;
    padding: 10px;
    border-radius: 5px;
  }
  
  a:hover {
    background-color: lightblue;
    color: white;
  }
  